body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}
.prod {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.wish-icon{
 width: 40px; 
 height: 40px;
 margin-left: 257px;
 border: none;
 background-color: rgb(250, 247, 247);
}
.produ {
  width: 300px;
  height: 450px;
  background-color: rgb(250, 247, 247);
  border: 1px solid rgb(235, 232, 232);
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgb(252, 251, 251);
  transition: transform 0.5s ease;
}

.produ:hover {
  transform: scale(1.1); 
}

.maiim {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.pname {
  color: rgb(17, 17, 19);
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.pcat {
  color: black;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

.ppric {
  color: rgb(6, 90, 6);
  font-size: 17px;
  margin: 10px;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .produ {
      width: 250px;
      height: 350px;
  }

  .maiim {
      width: 150px;
      height: 150px;
  }

  .pname, .pcat, .ppric {
      margin: 5px;
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .produ {
      width: 200px;
      height: 300px;
  }

  .maiim {
      width: 120px;
      height: 120px;
  }

  .pname, .pcat, .ppric {
      font-size: 12px;
  }
}