

  .home-page {
    width: 100%;
    height: auto; 
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap; 
     gap: 10px; 
    width: 100%;
  }
  
  .pthu {
    width: 200px;
    height: 136px;
    margin: 10px;
    transition: transform 0.1s ease;
  }
  
  .pthu:hover {
    transform: scale(1.1); 
  }
  
  .proit {
    text-decoration: none;
    width: 220px; 
    height: auto; 
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 8px;
    
  }
  .category-button{
    gap: 10px;
    margin-left: 10px;
    color: aliceblue;
    background-color: dodgerblue;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 3px;
  }
  .clear-filter-button{
    gap: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: aliceblue;
    background-color: rgb(255, 94, 30);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 2px;
  }
  .nam {
    margin-left: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .price {
    display: flex;
    color: rgb(12, 14, 12);
    font-weight: bold;
    margin-left: 20px; 
  }
  
  .np {
    margin-top: 10px;
  }  