/* .home-page{
    width: 100%;
    height: 100%;
  }
  .product-grid{
    display: flex;
    width: 300px;
    height: 220px;
  }
  .pthu{
    width: 200px;
    height: 136px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    transition: transform 0.1s ease;
  }
  .pthu:hover {
    transform: scale(1.1); 
  }
  .proit{
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 250, 250);
    border: 1px solid rgb(248, 246, 246);
    margin-top: 20px;
    margin-left: 10px;
  
  }
  .nam{
    margin-left: 60px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  .price{
    display: flex;
    color: rgb(12, 14, 12);
    font-weight: bold;
    margin-left: 60px;
  }
  .np{
    margin-top: 20px;
  } */

  .home-page {
    width: 100%;
    height: auto; 
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap; 
     gap: 10px; 
    width: 100%;
  }
  
  .pthu {
    width: 200px;
    height: 136px;
    margin: 10px;
    transition: transform 0.1s ease;
  }
  
  .pthu:hover {
    transform: scale(1.1); 
  }
  
  .proit {
    text-decoration: none;
    width: 220px; 
    height: auto; 
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    
  }
  
  .nam {
    margin-left: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .price {
    display: flex;
    color: rgb(12, 14, 12);
    font-weight: bold;
    margin-left: 20px; 
  }
  
  .np {
    margin-top: 10px;
  }  