/* wish.css */

.wishlist-content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .wishlist-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .yw{
    text-align: center;
   
  }
  .wishlist-grid {
    display: grid;
    width: 400px;
    grid-template-columns: auto auto auto auto; /* Creates responsive columns */
    gap: 70px;
    justify-items: center; /* Center the items in each grid cell */
  }
  
  .wishlist-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .wishlist-item:hover {
    transform: scale(1.05);
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .name {
    font-size: 18px;
    margin: 10px 0;
    color: dodgerblue;
  }
  
  .price {
    font-size: 16px;
    color: #1d4603;
  }
  
  .wishlist-content .no-items {
    text-align: center;
    font-size: 18px;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .wishlist-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust grid layout for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .wishlist-item {
      padding: 15px;
    }
  
    .thumbnail {
      height: 150px;
    }
  
    .name {
      font-size: 16px;
    }
  
    .price {
      font-size: 14px;
    }
  }
  